<div *ngIf="!isFile" class="pt-5">
  <h2>Conteúdo da Pasta: {{ repoPath || "Raiz" }}</h2>
  <ul class="list-unstyled">
    <li *ngFor="let item of folderContents">
      <span (click)="navigateToFolder(item)" *ngIf="item.type === 'dir'">
        📁 {{ item.name }}
      </span>
      <span (click)="loadFileContent(item)" *ngIf="item.type === 'file'">
        📄 {{ item.name }}
      </span>
    </li>
  </ul>

  <button (click)="goBack()" *ngIf="repoPath">Voltar</button>
</div>

<div *ngIf="isFile">
  <h2>Arquivo: {{ repoPath }}</h2>
  <app-monaco-editor [content]="fileContent"></app-monaco-editor>
  <button (click)="goBack()">Voltar</button>
</div>
