<div class="container">
  <div class="form-group">
    <label for="githubUsername">Username github</label>
    <input
      type="text"
      class="form-control"
      id="githubUsername"
      [(ngModel)]="githubUsername"
      placeholder="insert github user"
    />
  </div>

  <button (click)="fetchRepos()" class="btn btn-primary mt-3">
    Search repositories
  </button>

  <div *ngIf="loading" class="mt-3">
    <p>Loading repositories...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
</div>
