<div class="container mt-5 d-flex" style="margin-top: 150px">
  <div class="w-25 mt-5">
    <app-github-account-details></app-github-account-details>
  </div>
  <div class="w-75">
    <h2 class="text-center text-white">
      Repositories for <strong>{{ githubUsername }}</strong>
    </h2>

    <div *ngIf="repositories.length > 0" class="mt-4">
      <div class="d-flex flex-column gap-3">
        <div
          *ngFor="let repo of repositories"
          class="border-top border-dark shadow-sm cardHover"
          (click)="fetchRepoDetails(repo)"
          style="cursor: pointer; background-color: inherit"
        >
          <div class="d-flex justify-content-between p-3">
            <p class="fw-bold mb-0 text-white">{{ repo.name }}</p>
            <p class="fw-semibold mb-0 text-white-50">
              updated {{ formatTimeAgo(repo.updated_at) }}
            </p>
          </div>
          <div class="px-3 text-white-50">
            <p>{{ repo.language }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="repositories.length === 0" class="text-center mt-4">
      <p class="alert alert-warning">No repositories found for this user.</p>
    </div>
  </div>
</div>
